@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

#root {
    background: teal;
    font-family: 'Roboto', sans-serif;
    color: rgb(30, 30, 30);
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
    font-size: 1.4em;
    margin: .4em 0;
}

h5 {
    margin: 0 1em 0 0;
    font-size: 1em;
    white-space: nowrap;
    text-transform: capitalize;
}

p {
    margin: 0;
}

.App {
    margin: 2rem;
}

.hidden {
    display: none;
}

.container {
    background: white;
    padding: 1rem;
}

.section-header {
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    margin-bottom: 1rem;
}

.section-footer {
    margin-top: 2rem;
}

/* BUTTONS */
.btn {
    background: #dce2e2;
    font-size: .9em;
    padding: .5em .8em;
    border: none;
    border-radius: 4px;

    cursor: pointer;
}

/* FORM CONTROLS */

label {
    font-size: .8em;
    font-weight: 600;
    color: #5c6363;
    margin: 1em 0 .2em 0;
}

input,textarea {
    padding: .5em;
    border: 1px solid darkgrey;
    border-radius: 4px;
    /*background: #f0f2f6; 
    border: none;*/
}

.form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 2rem;
    
}

.form.hidden {
    display: none;
}

.form-section {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.form-btns{
    margin-top: 1rem;
}

.h {
    width: 47%;
}

.hh {
    width: 22%;
}

.btn.cancel {
    margin-left: 2em;
}


/* CARD ITEM */

/* Main card */
.card-item {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: .5rem;
    justify-content: space-between;
}

.card-item.hidden {
    display: none;
}


.card-info {
    display: flex;
    flex-flow: row wrap;
}

.card-btns {
    display: flex;
    flex-flow: column;
    margin-left: 2em;
}

.location {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 3em;
    font-size: .9em;
}

.city {
    text-transform: capitalize;
}

.state {
    text-transform: uppercase;
}

.years {
    margin-left: 3em;
    font-size: .9em;
}

.degree, .title {
    text-transform: capitalize;
    font-style: italic;
}

.additional {
    margin: .5em 0;
    font-size: .9em;
    width: 100%;
}


.btn.delete {
    background: #ee6565;
    margin-top: .3rem;
}

.delete, .edit {
    font-size: .8em;
    padding: .2em .6em;
}

/* edit card form */

.card-edit {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card-edit.hidden {
    display: none;
}

.card-edit div.form-section {
    margin-bottom: .5em;
}

.save {
    margin: 1rem 0 2rem 0;
    color: white;
    background: #5b9e67;
}